# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

.DS_Store

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# database
prisma/dev.db

# secrets
.env

backup.sql
pgdata/

.logs/*